.mybg {
	background: rgb(88, 12, 184);
	background: -moz-linear-gradient(
		0deg,
		rgba(88, 12, 184, 1) 0%,
		rgba(218, 60, 255, 1) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		rgba(88, 12, 184, 1) 0%,
		rgba(218, 60, 255, 1) 100%
	);
	background: linear-gradient(
		0deg,
		rgba(88, 12, 184, 1) 0%,
		rgba(218, 60, 255, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#580cb8",endColorstr="#da3cff",GradientType=1);
}
.mybtn {
	background: rgb(88, 12, 184);
	background: -moz-linear-gradient(
		0deg,
		rgba(88, 12, 184, 0.6937149859943977) 0%,
		rgba(218, 60, 255, 1) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		rgba(88, 12, 184, 0.6937149859943977) 0%,
		rgba(218, 60, 255, 1) 100%
	);
	background: linear-gradient(
		0deg,
		rgba(88, 12, 184, 0.6937149859943977) 0%,
		rgba(218, 60, 255, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#580cb8",endColorstr="#da3cff",GradientType=1);
}
